html body {
    font-family: 'Segoe UI', Frutiger, 'Lucida Grande', Verdana, Helvetica, sans-serif;
    color:#444;
}
.more-link {
    font-size:200%;
    margin-top:1em;
}


.item-list .pager {
    clear:both;
    text-align:center;
}

.item-list ul {
    margin:0 0 0.75em;
    padding:0;
}

.item-list .pager li {
    display:inline;
    list-style-type:none;
    padding:0.5em;
}

.pager-current {
    font-weight:bold;
}


/* Views Lists */
.viewsList li{
    margin:.5em 0 1em 0;
}
.viewsList .h3 {
    display:block;
    margin-bottom:1em;
}
.viewsList .h3 a {
    color:#346199;
}
.view-header-title {
    color:#822700;
    padding-bottom:1.5em;
    border-bottom:1px solid #eee;
}

.head, .head a {
    color: #000;
}

.subHead .block {
    width:%33.3333;
    float:right;
}

/* Views over rides */
.view-dom-id-1 {
    padding-right:1em;
}

h1 a:hover, .h1 a:hover,.h1:hover, h2 a:hover,.h2 a:hover, .h2:hover, h3 a:hover, .h3 a:hover, .h3:hover{
    font-weight:bold;
    text-decoration:none;
}
em.clickMe a{
    display:block;
    margin:0 20px 10px 0;
    padding:5px 20px 10px 5px;
    background-color:#eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border:2px solid #ccc;
}


.pane-content em.clickMe a{
    background-color:transparent;
    border:none;
    color:#822700;
    margin:0;
    padding:0;
    padding-bottom:1em;
    margin-bottom:.5em;
    border-bottom:1px solid #eee;
}